<h2>Welcome to Pizza Shop!</h2>
<button class="btn btn-primary" onclick="something()">Click Me!</button>
<br />
<br />
<% @products.each do |product| %>
	<p>
            product
	</p>
<br />
<br />
<% end %>

</div>
